/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

#general {

}
.first_background {
    background-color: #9ef1d5;
    padding: 20px;
}
.second_line {
    text-align: center;
}
.second_line h4 {
    font-size: 25px;
}
.line {
    border-bottom: 2px solid black;
    margin: 0px 30px 0px 30px ;
}
.body p {
    padding: 0px 30px 0px 30px;
    
}
.last {
    padding: 0px 30px 0px 30px;

}
.letter {
    width: 500px;
    text-align: center;
    background-color: antiquewhite;

}