*{
    margin: 0;
    padding: 0;
}
body {
    padding: 10px
}
section {

    background-image: url('/landingpage1/neom.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    background-attachment: scroll;
  
}

section:hover {

    background-image: url('/landingpage1/john.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    background-attachment: scroll;
  
}

img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 215px;
    left: 670px;
    z-index: 2;
}
.gbox {
    border: 2px solid black;
    background-color: black;
    opacity: 0.5;
    width: 300px;
    height: 350px;
    position: absolute;
    top: 250px;
    left: 550px;
    color: gold;
    text-align: center;
    font-size: 20px;

}
.gbox:hover {
    box-shadow: 5px 6px rebeccapurple;

}

.email {
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}
input {
    border: 0px solid red;
    width: 250px;
    height: 25px;
    background-color: none;

}
.password {
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}
input {
    border: 0px solid red;
    width: 250px;
    height: 25px;
    background-color: none;

}
button {
    width: 200px;
    height: 29px;
    font-size: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    z-index: 2;
    border: 1px solid red;

}
.forpass {
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}